<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    {{#if failed}}
    <p>Error: invalid username or password</p>
    {{/if}}

    <form id="login-form" action="/login" method="POST">
        <label for="username">Username: </label>
        <input id="username" name="username" required />
        <br>
        <label for="password">Password: </label>
        <input id="password" name="password" type="password" required />
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>