<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>error</title>
    <link rel="stylesheet" href="/public/site.css" />
</head>
<body>
    <p class="error">
        Nothing submitted
    </p>

    <a href="/">Go Back</a>
</body>
</html>