<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World</title>
    <link rel="stylesheet" href="/public/site.css" />
</head>
<body>
    <h1>The Best Palindrome Checker in the World</h1>
    <main>
        <p>
            A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation; only alphanumeric characters matter). For example, the following phrases are palindromes:
            <ul>
                <li>Madam</li>
                <li>Was it a cat I saw?</li>
                <li>He did, eh?</li>
                <li>Go hang a salami, I’m a lasagna hog.</li>
                <li>Poor Dan is in a droop</li>
                <li>Taco cat? Taco cat.</li>
            </ul>

            This site checks if your string is a palindrome.
        </p>

        <form action="/result" method="POST">
            <label for="text-input">Test for palindrome:</label>
            <input id="text-input" name="text-to-test" />

            <button type="submit">Submit</button>
        </form>
    </main>
    <script>
        Array.prototype.forEach.call(document.getElementsByTagName('li'), li => {
            li.addEventListener('click', (elem, ev) => {
                document.getElementById('text-input').value = li.textContent
            })
        })
    </script>
</body>
</html>