<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Palindrome Results!</title>
    <link rel="stylesheet" href="/public/site.css" />
</head>
<body>
    <h1>The Palindrome Results!</h1>
    
    <main>
        <p class="{{className}}">{{text}}</p>

        <a href="/" id="go-back">Try another palindrome</a>
    </main>
</body>
</html>