body {
    margin: 40px 80px;
    font-family: sans;
}

form {
    margin-top: 100px;
    text-align: center;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    animation: shake 0.1s infinite;
}

h1 {
    text-align: center;
}

@keyframes shake {
    0% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    100% { transform: translateX(-1px); }
}

button {
    border: none;
    width: 150px;
    height: 50px;
    background: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

button:hover {
    background: white;
    color: black;
    border: 3px solid black;
}

input {
    box-sizing: border-box;
    border: 3px solid black;
    height: 50px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

p.success {
    color: #28a745;
}

p.failure {
    color: #dc3545;
}

p.success, p.failure {
    animation: dance 0.4s infinite;
}

@keyframes dance {
    50% { transform: translateY(10px); }
}

#go-back {
    animation: hard-to-get 1s linear infinite;
    display: block;
    width: 200px;
}

@keyframes hard-to-get {
    50% { transform: scale(2) translateX(55px); }
}